<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @duke.firstname %></h1>
    <p>
      Your Squire has sent you a message
    </p>
    <p>
      To view the message follow this link: <%= link_to "Squire Messages", @quest %>.
    </p>
  </body>
</html>
